@media only screen and (max-width: 768px){
.sup-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    font-size: 0 8em;
}
.container div{
    text-align: center;
    display: flex;
    grid-template-columns: repeat(2);
    
}
}
    
