body{
    margin: 0;
    padding: 0;
    background-color:#EDEDEE ;
    
}
.sub-header{
    color: #333333;
    text-align:center ;
   
}
     
.text{
    
    color:#E6621F;
    margin-top: -22px;
    
}
.container{
    display:flex;
    padding: 0 100px;
   justify-content: center;
   text-align: center;

   
}
.container div{
    
    flex-direction: column;
    padding: 13px; 
    justify-content: center;   
     
  
    
}
.container h2{
    
     display: flex;
     text-align: center;
     font-size: 20px;
     justify-content: center;
  }
.container  p{
    color: #333333;
    justify-content: center;
    text-align: justify;
   
}
.container button{
   
    color:#E6621F;
    border-color: #E6621F;
    
       
}
.container span,img{ 
       
    height: 150px;
    width: 150px;
    
}
.borders:hover{
    
    border: 2px solid #E6621F; 
    border-radius: 40px;
      
}
.color:hover{
    background-color:#E6621F ;
    color:#fff;
    border-radius: 40px;
    
}
.buto:hover{
    border: 2px solid black;
    background-color: #E6621F;
    color:#fff
    
    
}